body {
    background-color: #212529;
    color: white;
}

p {
    text-align: justify;
}

p.small {
    font-style: italic;
    font-size: .7em;
    padding: 6px;
  }

img:hover {
    box-shadow: 0 0 2px 1px rgba(253, 253, 253, 0.8);
  }

a:link {
    color: gray;
    text-decoration: none;
  }
  
a:visited {
    color: rgb(85, 85, 85);
    text-decoration: none;
  }
  
a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

.row {  
    display: flex;
    flex-wrap: wrap;
  }